<div class="card card-row">
  <div class="card-row-ownership">
    <img class="card-row-image" src="../../assets/images/profile.jpg" alt="profile picture">
    <p>{{status.getOwner().getHandle()}}</p>
    <div class="card-row-footer">
      <button type="button">Attachment</button>
    </div>
  </div>
  <div class="card-row-info">
    <div class="card-row-header">
      <p>{{status.getDate().getMonth()}}/{{status.getDate().getDate()}}/{{status.getDate().getFullYear()}}</p>
    </div>
    <div class="card-body">
      <p class="card-text">{{status.getMessageText()}}</p>
    </div>
  </div>
</div>
