<div *ngIf="status" class="card card-row status">
  <div class="card-row-ownership">
<!--    <img class="card-row-image" src='../../assets/images/{{status.getProfile().getSrc()}}' alt="profile picture">-->
    <img class="card-row-image" src="https://cs340-bucket.s3-us-west-1.amazonaws.com/{{status.getOwnerHandle()}}" alt="profile picture">
    <a class="card-text" routerLink="/story/{{status.getOwnerHandle()}}">{{status.getOwnerHandle()}}</a>
  </div>
  <div class="card-row-info">
    <div class="card-row-header">
      <p>{{status.getDate()}}</p>
    </div>
    <div class="card-body">
      <app-message [messageStatus]="status"></app-message>
    </div>
    <div *ngIf="!isSingleStatus" class="card-row-footer">
      <a routerLink="/status/{{status.getId()}}">View Status</a>
    </div>
    <div *ngIf="status.getAttachment().getSrc() !== 'None'" class="card-img">
      <app-attachment [attachment]="status.getAttachment()"></app-attachment>
    </div>
  </div>
</div>
