<div class="card card-row">
  <div class="card-row-ownership">
    <img class="card-row-image" src='../../assets/images/{{status.getOwner().getAttachmentSrc()}}' alt="profile picture">
    <a class="card-text" routerLink="/story/{{status.getOwner().getHandle()}}">{{status.getOwner().getHandle()}}</a>
  </div>
  <div class="card-row-info">
    <div class="card-row-header">
      <p>{{status.getDate().getMonth()}}/{{status.getDate().getDate()}}/{{status.getDate().getFullYear()}}</p>
    </div>
    <div class="card-body">
<!--      <p class="card-text">{{status.getMessageText()}}</p>-->
      <app-message [messageText]="status.getMessageText()"></app-message>
    </div>
    <div class="card-row-footer">
      <button type="button">Attachment</button>
    </div>
  </div>
</div>
