<div class="card card-row card-row-small">
  <div class="card-row-ownership">
    <img class="card-row-image" src='{{follow.getAttachmentSrc()}}' alt="profile picture">
  </div>
  <div class="card-row-info">
    <div class="card-body">
      <a class="card-text" routerLink="/story/{{follow.getHandle()}}">{{follow.getHandle()}}</a>
      <p class="card-text">{{follow.getName()}}</p>
    </div>
    <div *ngIf="currentUser.getHandle() !== follow.getHandle()" class="card-row-header">
      <button *ngIf="!isFollowing" type="button" (click)="onFollow()">Follow</button>
      <button *ngIf="isFollowing" type="button" (click)="onUnfollow()">Unfollow</button>
    </div>
  </div>
</div>
