<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark menu-container">
    <a class="navbar-brand logo">Twitter</a>
    <div>
      <button *ngIf="!user" type="button" class="btn btn-light" routerLink="/login">Log In</button>
      <button *ngIf="user" type="button" class="btn btn-light" routerLink="/login" (click)="logout()">Logout</button>
    </div>
  </nav>
  <div class="container-base">
    <div *ngIf="user" class="side-bar">
      <ul class="navbar-nav">
        <li class="side-bar-item">
          <a class="nav-link side-bar-link" routerLink="/feed">Feed</a>
        </li>
        <li class="side-bar-item">
          <a class="nav-link side-bar-link" routerLink="/story">Story</a>
        </li>
      </ul>
    </div>
    <div class="container-col">
      <app-login *ngIf="!user" (loginUser)=onLogin($event)></app-login>
      <router-outlet *ngIf="user"></router-outlet>
    </div>
  </div>
</body>
