<div class="story-container">
  <div class="profile">
    <div class="profile-pic">
      <img class="pic" src="../../assets/images/profile.jpg" alt="profile picture">
      <button class="pic-button" type="button">Upload picture</button>
    </div>
    <div class="profile-info">
      <p class="profile-info-item">becaha</p>
      <p class="profile-info-item">Rebecca Haggard</p>
      <a class="profile-info-item" routerLink="/followers">Followers</a>
      <a class="profile-info-item" routerLink="/following">Following</a>
    </div>
  </div>
  <div>
    <app-status></app-status>
  </div>
</div>
