<div class="container-col">
  <div class="profile">
    <div class="profile-pic">
      <!--TODO upload from user profile src, from assets/images -->
      <img class="pic" src='../../assets/images/{{currentUser.getAttachmentSrc()}}' alt="profile picture">
      <button class="pic-button" type="button" (click)="loadPic()">Upload picture</button>
    </div>
    <div class="profile-info">
      <p class="profile-info-item">{{currentUser.getHandle()}}</p>
      <p class="profile-info-item">{{currentUser.getName()}}</p>
      <a class="profile-info-item" routerLink="/followers">Followers</a>
      <a class="profile-info-item" routerLink="/following">Following</a>
    </div>
  </div>
  <div>
    <app-statuses *ngIf="viewUser" [owners]="getViewUsers()"></app-statuses>
  </div>
</div>
