<div *ngIf="this.viewUser" class="container-col">
  <div class="profile">
    <div class="profile-pic">
      <img class="pic" [src]="src">
      <div *ngIf="currentUser.getHandle() === viewUser.getHandle()">
        <app-upload [uploadMessage]="'Upload Picture'"></app-upload>
      </div>
    </div>
    <div class="profile-info">
      <p class="profile-info-item">{{viewUser.getHandle()}}</p>
      <p class="profile-info-item">{{viewUser.getName()}}</p>
      <a class="profile-info-item" routerLink="/{{viewUser.getHandle()}}/followers">Followers</a>
      <a class="profile-info-item" routerLink="/{{viewUser.getHandle()}}/following">Following</a>
    </div>
    <div *ngIf="currentUser.getHandle() !== viewUser.getHandle() && gotIsFollowing" class="card-row-header">
      <button *ngIf="!isFollowing" type="button" (click)="onFollow()">Follow</button>
      <button *ngIf="isFollowing" type="button" (click)="onUnfollow()">Unfollow</button>
    </div>
  </div>
  <div>
    <app-statuses *ngIf="this.statuses" [statuses]="this.statuses"></app-statuses>
  </div>
</div>
