<div *ngFor="let f of followers; let i = index">
  <!-- make a new row every 4 follows -->
  <div *ngIf="i % 4 === 0" class="container-row">
    <div class="container-col">
      <app-follow [follow]="f"></app-follow>
    </div>
    <div class="container-col">
      <app-follow [follow]="followers[i + 1]"></app-follow>
    </div>
    <div class="container-col">
      <app-follow [follow]="followers[i + 2]"></app-follow>
    </div>
    <div class="container-col">
      <app-follow [follow]="followers[i + 3]"></app-follow>
    </div>
  </div>
</div>

