<div class="card container-row">
  <div>
    <img src="../../assets/images/profile.jpg" alt="profile picture">
  </div>
  <div class="container-col">
    <div class="card-body">
      <p class="card-text">{{dummyUser.getHandle()}}</p>
      <p class="card-text">{{dummyUser.getName()}}</p>
    </div>
  </div>
</div>

<div class="card status">
  <div class="status-ownership">
    <img class="status-image" src="../../assets/images/profile.jpg" alt="profile picture">
  </div>
  <div class="status-info">
    <div class="card-body">
      <p class="card-text">{{dummyUser.getName()}}</p>
    </div>
  </div>
</div>

